* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.header-nav-list {
  display: flex;
  font-size: 15px;
  list-style: none;
}

.logo-img {
  height: 30px;
}

.header-nav-item {
  color: rgb(100, 98, 98);
}

.header-nav-item:not(:last-child) {
  margin-right: 30px;
}

.sub {
  margin-top: 150px;
}

.first-view-img {
  margin: 0 0 0 auto;
  display: block;
  width: 55%;
}

.big-font,
.big-font-ar,
.middle-font,
.small-font {
  color: rgb(192, 51, 121);
}

.color {
  color: rgb(44, 174, 197);
}

.big-font {
  font-size: 80px;
  top: 110px;
  left: 300px;
  position: absolute;
  line-height: 90px;
  font-family: "Indie Flower", cursive;
}

.middle-font {
  font-size: 28px;
  top: 360px;
  left: 300px;
  position: absolute;
}

.small-font {
  color: rgb(100, 98, 98);
  top: 400px;
  left: 300px;
  position: absolute;
  line-height: 30px;
  font-size: 19px;
}

.font {
  width: 100%;
}

.contents {
  color: rgb(192, 51, 121);
  font-size: 13px;
  padding-bottom: 10px;
  font-family: "Indie Flower", cursive;
}

.overview {
  font-size: 23px;
  color: rgb(100, 98, 98);
  font-weight: bold;
  padding-bottom: 20px;
}

.border {
  border-bottom: 2px solid silver;
  border-top: 2px solid silver;
  padding-bottom: 30px;
}

.topic {
  border-bottom: 1px solid silver;
  padding-bottom: 15px;
  padding-top: 15px;
}

.topic-top {
  padding-top: 20px;
}

.topic-date,
.news,
.service {
  display: inline-block;
  color: rgb(100, 98, 98);
  font-size: 15px;
}

.news {
  background-color: rgb(179, 19, 99);
  padding: 2px 15px;
  color: #fff;
  border-radius: 20px;
  margin: 0 20px;
}

.main-footer {
  width: 700px;
  margin: 0 auto 70px auto;
}

.first-text,
.second-text {
  color: rgb(100, 98, 98);
}

/* 1ページ目 */

.about-page {
  background-color: rgb(235, 232, 232);
  background-size: cover;
  height: 450px;
  width: 100%;
}

.about-box {
  height: 500px;
  margin: 0 auto;
  width: 85%;
}

.about-img {
  height: 285px;
  width: 420px;
  padding-top: 52px;
  margin-right: 10px;
}

.about-contents {
  text-align: center;
  transform: translateY(45px);
}

.text-img-box {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.first-text {
  width: 425px;
  padding-bottom: 30px;
}

.second-text {
  width: 435px;
}

.double-text {
  flex-wrap: wrap;
  padding-top: 50px;
  font-size: 18px;
  line-height: 30px;
}

/* 2ページ目 */

.service-page {
  width: 72%;
  margin: 100px auto 0 auto;
  height: 550px;
}

.service-contents {
  margin-bottom: 10px;
}

.first-service-img,
.second-service-img,
.third-service-img {
  width: 30%;
  height: auto;
}

.grid {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 1fr 1fr;
}

.first-grid-box {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: rgb(209, 20, 114);
}

.second-grid-box {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: rgb(189, 75, 132);
  display: flex;
}

.third-grid-box {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: rgb(187, 94, 141);
  display: flex;
}

.first-service-img,
.first-service-text {
  display: block;
  margin: 0 auto;
}

.first-service-img {
  padding-top: 25px;
}

.first-service-text {
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
}

.first-sample-text {
  width: 380px;
  margin: 0 auto;
  padding-top: 15px;
  color: #fff;
  line-height: 30px;
}

.second-service-img {
  display: block;
  margin: 0 auto;
}

.text-class {
  width: 300px;
  margin: 0 auto;
  margin-top: 25px;
}

.second-sample-text {
  color: #fff;
  line-height: 30px;
  margin-top: 20px;
}

.second-service-text {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.third-service-img {
  display: block;
  margin: 0 auto;
}

.sub-text-class {
  width: 300px;
  margin: 0 auto;
  padding-top: 25px;
}

.third-sample-text {
  color: #fff;
  line-height: 30px;
  margin-top: 20px;
}

.third-service-text {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

/* 3ページ目 */

.blog-page {
  height: 540px;
  background-color: rgb(235, 232, 232);
}

.blog-box {
  width: 77%;
  margin: 0 auto;
}

.blog-contents-all {
  display: flex;
  justify-content: space-around;
}

.blog-contents {
  padding: 40px 0 0 34px;
}

.blog-box-contents {
  width: 300px;
  background-color: white;
  height: 310px;
  position: relative;
  border-radius: 15px;
}

.blog-img {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
}

.blog-text {
  font-size: 16px;
  color: rgb(100, 98, 98);
  padding: 20px 5px 15px 30px;
  width: 240px;
}

.tag-name,
.tag-date {
  color: rgb(100, 98, 98);
  font-size: 13px;
  display: inline-block;
}

.blog-category {
  font-size: 15px;
  position: absolute;
  color: rgb(255, 255, 255);
  background-color: rgb(209, 20, 114);
  padding: 5px 20px;
  border-radius: 15px 0 0 0;
}

.tag-date {
  margin-left: 25px;
  margin-top: 10px;
}

.tag-name {
  margin-left: 70px;
}

.page-btn {
  background-color: white;
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0px auto;
  border-radius: 30px;
  border: 2px solid rgb(209, 20, 114);
  color: rgb(209, 20, 114);
}

.page-btn:hover {
  background-color: rgb(209, 20, 114);
  transition: 0.3s;
  color: #fff;
  cursor: pointer;
}

/* 4ページ目 */

table {
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 20px;
}

.td {
  font-weight: bold;
  background-color: rgb(235, 232, 232);
  width: 200px;
}

.company-contents {
  margin-bottom: 10px;
}

.td-name {
  width: 500px;
}

.company-box {
  width: 800px;
  margin: 100px auto 0px auto;
  height: 500px;
}

/* 5ページ目 */

.flex-img {
  display: flex;
  justify-content: center;
  height: auto;
}

.full-img {
  width: 100%;
}

.hp-text {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-img-info {
  position: relative;
  width: 50%;
}

/* 6ページ目 */

.guide-text {
  margin-top: 100px;
  font-weight: bold;
  color: rgb(100, 98, 98);
  text-align: center;
  font-size: 22px;
}

.line {
  position: relative;
  display: inline-block;
  height: 25px;
}

.line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  width: 3px;
  height: 50px;
  margin: 0 auto 0 auto;
  background-color: rgb(209, 20, 114);
}

.guide {
  text-align: center;
}

.form-btn {
  margin-top: 50px;
  margin-bottom: 100px;
  display: block;
  background: linear-gradient(to right, rgb(247, 3, 166), rgb(161, 19, 126));
  height: 80px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 40px;
  position: relative;
  box-shadow: 0 10px 0 0 rgb(131, 36, 83);
}

.form-btn:active {
  box-shadow: none;
  position: relative;
  top: 10px;
}

.btn {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  align-items: center;
}

.form-btn::before {
  content: "";
  position: absolute;
  background: url(mailicon.svg) no-repeat;
  top: 35%;
  left: 10%;
  background-size: cover;
  width: 25px;
  height: 25px;
  display: inline-block;
}

.footer {
  height: 50px;
  background-color: rgb(235, 232, 232);
  color: rgb(100, 98, 98);
  display: flex;
  justify-content: center;
  align-items: center;
}
